<div class="wrapper">
		<div class="header">
	  	<span class="headertext">Fresh Fruit store</span>
		</div>
  <div class="menu">
    <a href="#/">Home</a> |
    <a href="#/fruits">Fruits in Store</a> |
    <a href="#/contact">Contact Us</a>
  </div>
		<div class="content">
		  <div class="main_banner">
        <div class="bannerDescrition">
          <p id="phone">
           <img style="height:17px;width:16px" src="../images/phone-icon.png">
               987654321
          </p>
           <p id="email">
           <img style="height:17px;width:16px" src="../images/email.jpg">
            Email:freshfruits@gmail.com
          </p>
        </div>
      </div>
  </div>
  <div class="footer">
	  	<span class="footertext">© Copyright 2015 Fresh Fruit store . All rights reserved</span>
		</div>
</div>
