<div class="wrapper">
		<div class="header">
	  	<span class="headertext">Fresh Fruit store</span>
		</div>
  <div class="menu">
    <a href="#/">Home</a> |
    <a href="#/fruits">Fruits in Store</a> |
    <a href="#/contact">Contact Us</a>
  </div>
		<div class="content" >
		  <div class="main_banner">
        <div class="bannerDescrition">
          <p>
            In the culinary sense of these words, a fruit is usually any sweet-tasting plant product, especially those associated with seeds.Nothing tastes quite as good as the sensuous flavour in the freshest fruit.
          </p>
        </div>
      </div>
  </div>
  	<div class="footer">
	  	<span class="footertext">© Copyright 2015 Fresh Fruit store . All rights reserved.</span>
		</div>
</div>
